#inputBody {
    text-align: center;
}

.botaoGenerico {
    width: 200px;
    height: 30px;
}

.tabela { 
    margin-left: auto;
    margin-right: auto;
}

.tabela th {
    text-align: center;
}

#calcularMMQ {
    text-align: center;
}

#resultadoMMQ {
    text-align: center;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.input-row input {
    margin: 0 10px;
}